<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fairy.cloud.mbg.mapper.OmsOrderItemMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.fairy.cloud.mbg.model.pojo.OmsOrderItemPO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="orderSn" column="order_sn"/>
        <result property="productId" column="product_id"/>
        <result property="productPic" column="product_pic"/>
        <result property="productName" column="product_name"/>
        <result property="productBrand" column="product_brand"/>
        <result property="productSn" column="product_sn"/>
        <result property="productPrice" column="product_price"/>
        <result property="productQuantity" column="product_quantity"/>
    </resultMap>


</mapper>