<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fairy.cloud.mbg.mapper.PmsStockMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.fairy.cloud.mbg.model.pojo.PmsStockPO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="stock" column="stock"/>
        <result property="brandId" column="brand_id"/>
        <result property="creteTime" column="crete_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>