<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fairy.cloud.mbg.mapper.UmsRoleMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap type="com.fairy.cloud.mbg.model.pojo.UmsRolePO" id="BaseResultMap">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="description" column="description"/>
    <result property="createTime" column="create_time"/>
    <result property="status" column="status"/>
    <result property="sort" column="sort"/>
  </resultMap>


  <select id="selectRolesByUserName" resultMap="BaseResultMap">
    SELECT
	umr.*
    FROM
      ums_role umr
      LEFT JOIN ums_member_role_relation ummr ON umr.id = ummr.role_id
      LEFT JOIN ums_member umsm ON umsm.id = ummr.memeber_id
    WHERE umsm.username=#{username}
  </select>

  <select id="selectRolePermissionUrlByRoleIds" resultType="java.lang.String">
    SELECT umsp.uri
    FROM ums_permission umsp
    LEFT JOIN ums_role_permission_relation umsrp ON umsrp.permission_id = umsp.id
    LEFT JOIN ums_role umsr ON umsr.id = umsrp.role_id
    WHERE umsr.id in
    <foreach item="roleId"  collection="roleIds" open="(" separator="," close=")">
      #{roleId}
    </foreach>
  </select>

  <!--使用List报错 java.lang.UnsupportedOperationException-->
  <select id="selectRolePermissionUrlByRoleName" resultType="java.lang.String">
    SELECT umsp.uri
    FROM ums_permission umsp
    LEFT JOIN ums_role_permission_relation umsrp ON umsrp.permission_id = umsp.id
    LEFT JOIN ums_role umsr ON umsr.id = umsrp.role_id
    <if test="roleName != null">
      WHERE umsr.name = #{roleName}
    </if>

  </select>
</mapper>